.dashboard-nav{
    width: 100%;
    height: 80px;
    background-color: #387ce1;
}
.dashboard-header{
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
.online-indicator{
    background-color: #64ca5a;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    position: absolute;
    bottom: 8px;
    right: 0;
}
.profile-image-box{
    display: block;
    width: 48px;
    height: 48px;
    position: relative;
}
.profile-image{
    color: white;
    width:100%;
    height:100%;
}
.left-profile-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:12px;
    font-weight: 600;
    font-size: 16px;
}
.left-name-company-box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: #fff;
}
.company-name{
    font-weight: 400;
    font-size: 14px;
}