.pricelist-main{
    width: 82%;
    height: 100%;
}
@media (max-width: 1301px) {
    .pricelist-main{
        width: 76%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .pricelist-right-btn p {
        display: none;
    }
    .pricelist-right-btn{
        width: 30% !important;
        justify-content: center;
    }
}
@media (max-width: 1000px) {
    .pricelist-main{
        width: 100%;
    }
    .pricelist-header{
        flex-direction: column;
        height: 40% !important;
        justify-content: space-around !important;
        margin: 0 auto 0 auto !important;
    }
    .pricelist-container{
        height: 60% !important;
    }
    .left-search-box,.right-btns-box{
        width: 100% !important;
    }
}
@media (max-width: 769px) {
    .tb-cell-hidden{
        display: none;
    }
    .cell-productOrService{
        width: 36% !important;
    }
    .cell-inPrice{
        width: 0 !important;
    }
    .cell-description{
        width: 0 !important;
    }
    .cell-inStock{
        width: 8% !important;
    }
    .cell-unit{
        width: 13% !important;
    }
    .triple-dot-container{
        width: 0% !important;
    }
    .cell-articleNumber{
        width: 0% !important;
    }
    .cell-price{
        width: 8% !important;
    }
}
@media (max-width: 555px) {
    .tb-cell-hidden-mobile{
        display: none;
    }
}

.triple-dot-container{
    width: 2%;
}
.pricelist-header{
    width: 90%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    margin:auto;
}

.left-search-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 8px;
    width: 35%;
}

.right-btns-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.pricelist-right-btn{
    width: auto;
    background: #fff;
    border: 1px solid #d9d9d9;
    display: flex;
    align-items: center;
    column-gap: 12px;
    font-size: 14px;
    color: #c9c9c9f9;
    font-weight: 500;
    border-radius: 30px;
    padding: 0.6em 1.2em;
    cursor: pointer;
    transition: border-color 0.25s;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.pricelist-right-btn:hover{
    border: 1px solid black;
    color: black;
}
.plus-add-product,.print-product-list{
    width: 18px;
    height: 18px;
}
.plus-add-product{
    color: #57eeaa;
}
.print-product-list{
    color: #64e5e4;
}
.pricelist-container{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pricelist-table{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
.table-main{
    width: 97%;
    height: 100%;
    margin: auto;
}


.table-cell .tdBefore{
    display: none !important;
}

.table-triple-dot {
    width: 24px;
    height: 24px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7bc1f0;
    cursor: pointer;
}

.input-table-cell{
    border: 2px solid #7bc1f0;
    border-radius: 12px;
    font-size: 14px;
    padding: 4px 4px 4px 4px ;
}

.table-header {
    color: #737373;
    font-weight: normal;
}

.table-row:hover{
    .right-rows-arrow{
        display: block;
    }
}
.right-rows-arrow{
    display: none;
}
.pricelist-search-input{
    width: 100%;
    padding: 12px 40px 12px 12px;
    border-radius: 30px;
    border: 1px solid #d9d9d9;
}
.search-input-container{
    width: 100%;
    position: relative;
}
.search-input-icon{
    position: absolute;
    color: #64e5e4;
    right: 15px;
    font-size: 18px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.cell-description{
    width: 28%;
}

.cell-articleNumber{
    width: 8%;
}

.cell-price{
    width: 6.8%;
}

.cell-inStock{
    width: 7%;
}
.cell-unit{
    width: 10%;
}
.cell-inPrice{
    width: 6%;
}
.cell-productOrService{
    width: 27%;
}