.sidebar-main{
    width: 18%;
    height: 100%;
    border-right: 1px solid #f8f8f8;
    box-shadow: 0 10px 15px -3px rgba(17, 17, 17, 0.7), 0 4px 6px -4px rgba(34, 34, 34, 0.7);
    display: flex;
    flex-direction: column;
}
.sidebar-header{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.go-back{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #737373;
    padding-top: 8px;
    padding-bottom: 8px;
}
.go-back-link{
    display: flex;
    align-items: center;
    color: #737373;
    font-weight: bold;
    line-height: 18px;
    font-size: 24px;
}
.go-back-link:hover{
    color: black;
}
.close-arrow{
    width: 32px;
    height: 32px;
    cursor: pointer;
}
.back-arrow{
    width: 32px;
    height: 32px;
}
.menu-header{
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    margin: auto;
    font-size: 18px;
    font-weight: bold;
    color: #737373;
}
.sidebar-divider{
    width: 80%;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    background-color: #0891b2;
    border-radius: 4px;
}
.nav-container{
    display: flex;
    flex-direction: column;
}
.sidebar-navoptions{
    display: flex;
    align-items: center;
    justify-content: start;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #737373;
    column-gap: 8px;
    padding-left: 2rem;
    cursor: pointer;
}
.sidebar-navoptions:hover{
    color: black;
}
.select-indicator{
    width: 12px;
    height: 12px;
    background-color: #05d221;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
}

.active{
    display: flex;
}
.padding-active{
    padding-left: 2rem;
}
.padding-unactive{
    padding-left: 3.2rem;
}
.hidden{
    display: none;
}
.select-indicator-inner{
    width: 4px;
    height: 4px;
    background-color: #fff;
    border-radius: 100%;
}
.invoice-icon,.customer-icon,.business-icon,
.journal-icon,.pricelist-icon,
.multi-icon,.unpaid-icon,.offer-icon,.inventory-icon,
.member-icon,.im-export-icon,.logout-icon{
    width: 20px;
    height: 20px;
}
.invoice-icon{
    color: #b1f6f5;
    fill: #99fcf9;
}
.customer-icon{
    color: #73f8dd;
}
.business-icon{
    color: #c5e5e5;
}
.journal-icon{
    color: #66daef;
}
.pricelist-icon{
    color: #f9ac4d;
}
.multi-icon{
    fill: #93e8f4;
}
.unpaid-icon{
    color: #f776b3;
}
.offer-icon{
    color: #eee59c;
}
.inventory-icon{
    color: #9de6e2;
}
.member-icon{
    color: #4ba4f0;
}
.im-export-icon{
    color: #8db5ee;
}
.logout-icon{
    color: #bae2dd;
}

.disabled-sidebar-opt{
    color: #d2d2d2;
    cursor:not-allowed;
}
