.footer{
    width: 100%;
    height: auto;
    padding-bottom: 20px;
}
.footer-top{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    margin: auto;
    border-bottom: 1px solid white;
}
.footer-fekturera{
    font-size: 30px;
    font-weight: 500;
    color: white;
    padding-left: 10px;
}
.footer-menu{
    display: flex;
    color: white;
    justify-content: center;
    font-size: 16px;
}
@media (max-width: 550px) {
    .footer-top{
        flex-direction: column;
    }
    .footer-copyright{
        width: 85%;
        margin: auto;
    }
}
.footer-menu-item{
    margin-left: 1rem;
    margin-right: 1rem;
    color: white;
}
.footer-copyright{
    text-align: center;
    margin-top: 1.25rem;
    font-size: 16px;
    color: white;
}
@media (max-width:769px) {
    .footer-copyright{
        margin-top: 0;
    }
}
@media (max-width: 600px) {
    .footer{
        margin-top: 40px;
    }
}
@media (max-width: 900px) and (orientation: landscape) {
    .footer{
        margin-top: 55px;
    }
}