.login-box{
    width: 100%;
    height: 500px;
    margin-top: 85px;
}
.login-form{
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    width: 540px;
    height: 85%;
    border-radius: 40px;
    padding-top: 1.5rem;
    padding-bottom: 2.5rem;
    transition: width 600ms ease-in-out;
    color: white;
}
@media (max-width: 769px) {
    .login-box{
        margin-top: 24px;
    }
}
@media (max-width: 600px) {
    .login-form{
        width: 90%;
        height: 90%;
    }
    .login-box{
        height: 600px;
    }
}
@media (max-width:400px) {
    #footer-login{
        width: 250px !important;
    }
    .login-form{
        padding-top: 1rem !important;
    }
}
.login-header{
    color: #ff0000;
    letter-spacing: 0.025em;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}
.login-section{
    width: 80%;
    margin: auto;
}
.login-email,.login-password{
    font-size: 15px;
    margin-top: 1.2rem;
    color: #000000e6;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}
.login-input-email,.login-input-password{
    font-size: 15px;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 2.5rem;
    border-radius: 1.5rem;
    width: 100%;
    border: 1px solid #ccc;
    background: none;
    margin-top: 3px;
    font-weight: 500;
    color: #000000e6;
}
.error-login{
    color: red;
    margin-top: 0.5rem;
    font-weight: 400;
    line-height: 1.25rem;
}
.login-password{
    margin-top: 1.25rem;
}
#password-input-box{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: right;
}
.eye-icon{
    fill: #ccc;
    width: 17px;
    height: 17px;
    position: absolute;
    margin-right: 20px;
    cursor: pointer;
}
.form-login-btn-container{
    margin-top: 1.25rem;
    color: white;
    font-size: 16px;
    font-weight: 500;
    display: flex;
}
.login-btn{
    color: white;
    padding-top: 1rem;
    transition: background-color 500ms ease-in-out;
    padding-bottom: 1rem;
    background-color: #07a31f;
    text-transform: none;
    font: inherit;
    cursor: pointer;
    border-radius: 40px;
    border: none;
    font-weight: 500;
    width: 35vw;
    min-width: max-content;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 270px;
    margin: auto;
}
.login-btn:hover{
    background-color: #34bc49;
}
#footer-login{
    width:350px;
    margin: auto;
    justify-self: center;
    text-align: center;
    margin-top: 1.25rem;
    display: flex;
    justify-content: space-between;
}
.login-anchor{
    color: #000000e6;
}
.login-anchor:hover{
    color: #1b1a1a6c;
}
@media (min-width:1600px) {
    .login-form{
        width: 750px;
    }
}