.app-main {
  width: 100vw;
  height: 100%;
  /* background-image: url('./assets/sverige43.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  isolation: isolate;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}
.app-bg-image{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  z-index: -1;
  object-fit: cover;
  object-position: center;
  pointer-events: none;
}
@media (max-width: 1025px) and (orientation: landscape) {
  .app-main{
    height: auto;
  }
}

@media (max-width: 400px) and (orientation: portrait) {
  .app-main{
    height: auto;
  }
}

.app-padding{
  padding-bottom: 50px;  
} 
