.app-main {
  width: 100vw;
  height: 100vh;
  background-image: url('./assets/sverige43.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}
@media (max-width: 1025px) and (orientation: landscape) {
  .app-main{
    height: auto;
  }
}

@media (max-width: 400px) and (orientation: portrait) {
  .app-main{
    height: auto;
  }
}

.app-padding{
  padding-bottom: 50px;  
} 
